<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - LangkiTap</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='loginstyle.css') }}">
</head>
<body>
  <div class="login-langkit-ver-2-v-4-3">
    <div class="navigation-bar">
      <div class="langki-tap">LangkiTap</div>
      <div class="items">
        <div class="home"><a href="{{ url_for('home') }}">Home</a></div>
        <div class="catalog"><a href="{{ url_for('shop') }}">Catalog</a></div>
        <div class="about-us"><a href="{{ url_for('about') }}">About Us</a></div>
        <div class="button">
          <div class="login"><a href="{{ url_for('register') }}">Register</a></div>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="title">
        <a href="{{ url_for('home') }}"><img class="backbutton" src="{{ url_for('static', filename='backbutton0.svg') }}" /></a>
        <div class="login-title">
          <div class="login2">Login</div>
          <img class="image-removebg-preview-2-1" src="{{ url_for('static', filename='image-removebg-preview-2-10.png') }}" />
        </div>
      </div>
      <div class="login-field">
        <form method="POST" class="form">
          {% if error %}
            <div class="error-message">{{ error }}</div>
          {% endif %}
          
          <div class="input-email">
            <div class="email-address">Username</div>
            <div class="field">
              <input type="text" name="username" placeholder="Enter your username (admin/user)" required>
            </div>
          </div>
          <div class="input-password">
            <div class="password">Password</div>
            <div class="field2">
              <input type="password" name="password" placeholder="Enter your password (1234/4321)" required>
            </div>
          </div>
          <div class="don-t-have-an-account">
            <div class="don-t-have-an-account2">
              <a href="{{ url_for('register') }}">Don't have an account? Create one!</a>
            </div>
          </div>
              <div class="submit" onclick="document.forms[0].submit()">
                <div class="submit2">Submit</div>
          </button>
        </form>
      </div>
    </div>
    <div class="footer">
      <div class="navigation-footer">
  <div class="stuff1">
    <div class="contact-information">Contact Information</div>
    <div class="_0962-821-0848">0962 821 0848</div>
  </div>

  <div class="stuff2">
    <div class="category">Category</div>
    <div class="souvenir-shop-clothing-store-gift-shop">
      Souvenir Shop · Clothing store · Gift Shop
    </div>
  </div>

  <div class="stuff3">
    <div class="location">Location</div>
    <div class="andres-bonifacio-ave-iligan-city-philippines-9200">
      Andres Bonifacio Ave, Iligan City, Philippines, 9200
    </div>
  </div>

  <div class="buttons-icon">
    <img class="icon" src="{{ url_for('static', filename='iconfacebook.svg') }}" />
    <div class="langkituniversityshop">langkituniversityshop</div>
    <div class="langkituniversityshop2">langkituniversityshop</div>
    <div class="langkituniversityshop3">langkituniversityshop</div>
  </div>

  <div class="divider"></div>

  <div class="msu-iit-langkit-university-shop">
    MSU IIT Langkit University Shop
  </div>

  <img class="frame-1321317494" src="{{ url_for('static', filename='frame-13213174940.svg') }}" />
  <img class="group-1" src="{{ url_for('static', filename='group-11.svg') }}" />

  <div class="gift">
    <img class="vuesax-broken-gift" src="{{ url_for('static', filename='vuesax-broken-gift0.svg') }}" />
  </div>

  <img class="frame-1321317496" src="{{ url_for('static', filename='frame-13213174960.svg') }}" />
  <img class="frame-1321317495" src="{{ url_for('static', filename='frame-13213174950.svg') }}" />
</div>

    </div>
  </div>
</body>
</html>