<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register - LangkiTap</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='loginstyle.css') }}"><link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='loginstyle.css') }}">
</head>
<body>
  <div class="login-langkit-ver-2-v-4-3">
    <div class="navigation-bar">
      <div class="langki-tap">LangkiTap</div>
      <div class="items">
        <div class="home"><a href="{{ url_for('home') }}">Home</a></div>
        <div class="catalog"><a href="{{ url_for('shop') }}">Catalog</a></div>
        <div class="about-us"><a href="{{ url_for('about') }}">About Us</a></div>
        <div class="button"><a class="login" href="{{ url_for('login') }}">Login</a></div>
      </div>
    </div>
    <div class="body">
      <div class="title">
        <a href="{{ url_for('home') }}"><img class="backbutton" src="{{ url_for('static', filename='backbutton0.svg') }}" /></a>
        <div class="register-title">
          <div class="login2">Register</div>
          <img class="alabmiming" src="{{ url_for('static', filename='alab-photo0.png') }}" />
        </div>
      </div>
      <div class="login-field">
        <form method="POST" class="form">
          {% if error %}
            <div class="error-message">{{ error }}</div>
          {% endif %}


          <div class="input-email">
            <div class="email-address">Username</div>
            <div class="field">
              <input type="text" name="username" placeholder="Choose a username" required>
            </div>
          </div>

          <div class="input-password">
            <div class="password">Password</div>
            <div class="field2">
              <input type="password" name="password" placeholder="Create a password" required>
            </div>
          </div>

          <div class="submit" onclick="document.forms[0].submit()">
            <div class="submit2">Register</div>
          </div>
        </form>
      </div>
    </div>

    <div class="navigation-footer">
      <div class="items2">
        <div class="topic">Topic</div>
        <div class="page">Page</div>
        <div class="page">Page</div>
        <div class="page">Page</div>
      </div>
      <div class="items3">
        <div class="topic">Topic</div>
        <div class="page">Page</div>
        <div class="page">Page</div>
        <div class="page">Page</div>
      </div>
      <div class="items4">
        <div class="topic">Topic</div>
        <div class="page">Page</div>
        <div class="page">Page</div>
        <div class="page">Page</div>
      </div>
      <div class="social-icons">
        {% for i in range(4) %}
        <div class="buttons-icon">
          <img class="icon" src="{{ url_for('static', filename='icon' ~ i ~ '.svg') }}" />
        </div>
        {% endfor %}
      </div>
      <div class="langki-tap2">LangkiTap</div>
      <div class="divider"></div>
    </div>
  </div>
</body>
</html>
